<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
   =
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>

    <application
        android:name=".AndroidApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:supportsRtl="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCkah0WWCSKCVWDIOA_4TXsG5DI50G1OQA" />

        <activity
            android:name=".view.activity.ProductActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBarSpecial" />
        <activity
            android:name=".view.activity.ScreenActivity"
            android:exported="false"
           />
        <activity
            android:name=".view.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBarSpecial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>